.title {
  margin-top: 67px;
  margin-left: 86px;
}
.outlet {
  width: 85%;
  margin: auto;
  margin-top: 81px;
}
@media (min-width: 0px) and (max-width: 576px) {
.outlet{

    justify-content: center;
    display: flex;
  }

}