.title {
  margin-top: 67px;
  margin-left: 130px;
}
.outlet {
  width: 85%;
  margin: auto;
  margin-top: 81px;
}
@media (min-width: 0px) and (max-width: 576px) {
  .outlet {
    display: flex;
    justify-content: center;
  }
  .dashboard .title h1 {
    font-size: 20px;
  }
}
@media (min-width: 1200px) and (max-width: 1560px) {
  .outlet {
    margin-right: 80px;
  }
}
